# C files
*.o
*.d

# Binary
bin

# Third-party
third_party
!third_party/Makefile
!third_party/third_party/third_party.mk

# Generated source
document.pb.*
DistributedMap.*
scripts/setenv*

# Python
*.pyc

# vim
*.swp
*.swo

# emacs
*~

# work
work
